<h1>TopPage</h1>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-a">
  資料DLはこちら
</button>

<!-- Modal -->
<div class="modal fade" id="modal-a" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_tag("https://go.pardot.com/l/908282/2021-01-13/gj3m") do %>
          <div class="form-group">
            <label for="email-a">*メールアドレス:</label>
            <input required type="email" class="form-control" id="email-a" aria-describedby="emailHelp"
              placeholder="Enter email" name="email">
          </div>
          <div class="form-group">
            <label for="name-a">お名前:</label>
            <input type="text" class="form-control" id="name-a" placeholder="Name" name="userName">
          </div>
          <button type="submit" class="btn btn-primary submit">資料のダウンロード</button>
          <% end %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>




<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-b">
  お問い合わせはこちら
</button>

<!-- Modal -->
<div class="modal fade" id="modal-b" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_tag("https://go.pardot.com/l/908282/2021-01-13/gj3p") do %>
          <div class="form-group">
            <label for="name-b">*お名前:</label>
            <input required type="text" class="form-control" id="name-b" placeholder="Name" name="userName">
          </div>
          <div class="form-group">
            <label for="email-b">*メールアドレス:</label>
            <input required type="email" class="form-control" id="email-b" aria-describedby="emailHelp"
              placeholder="Enter email" name="email">
          </div>
          <div class="form-group">
            <label for="tel-b">*電話番号:</label>
            <input required type="tel" class="form-control" id="tel-b" placeholder="tel" name="phoneNumber">
          </div>
          <div class="form-group">
            <label for="estore-b">来店予定:</label>
            <select class="form-control" id="store-b" name="partner">
              <option>a</option>
              <option>b</option>
              <option>c</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary submit">問い合わせ</button>
          <% end %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>